<div class="container text-center padded">
  <div class="row">
    <% @services.each do |service| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card ">
        <div class="card-description">
          <h2><%= service.city %></h2>
          <p><%= service.description %></p>
          <p><%= service.id %></p>
          <%= link_to "book it", account_bookings_path(service_id: service.id), class: 'btn btn-success', method: :post %>



        </div>
      </div>

    </div>
    <% end %>

  </div>
