.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  background-color: #FDF6E3;
  box-shadow: 10px 10px 5px #888888;
}
