

<div class="footer">

 <div class="container">
   <div class="container-footer-li">
     <ul class="list-inline text-center">
      <li>
        <a href="http://twitter.com/lewagonparis"></a>
        <i class="fa fa-twitter fa-3x"></i>
      </li>
      <li>
        <a href="http://facebook.com/lewagonformation"></a>
        <i class="fa fa-facebook fa-3x"></i>
      </li>
      <li>
        <a href="http://youtube.com/lewagonparis"></a>
        <i class="fa fa-youtube fa-3x"></i>
      </li>
      <li>
        <a href="http://instagram.com/lewagonformation"></a>
        <i class="fa fa-instagram fa-3x"></i>
      </li>
    </ul>
  </div>
</div>
<div class="copyright text-center">
<p>@copyright AdopteUnVieux 2016</p>
</div>
</div>
