.footer {
  height: auto;
  background-color: black;
  color: white;
  left: 0px;
  bottom: 0px;
  width: 100%;
  position:absolute;
}

.container-footer-li {
  padding-top: 20px;
}

.copyright {
  padding-bottom: 10px;
}

.footer li:hover {
  color: yellow;
}
