<h1>Reviews#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<h1>LISTE DES REVIEWS</h1>
<% @reviews.each do |review| %>
<%= "#{review.id}: #{review.description} - #{review.stars} //(#{review.sender}//(#{review.recipient}))" %> </h2>
<% end %>
